body{
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}
#name{
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    padding-bottom: 5px;
    border-bottom: 2px solid #3498db;
}
#work span, #hobby span{
    color: #111111;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#work{
    font-size: 18px;
    color: #666666;
    margin-top: 10px;
}
#hobby{
    font-size: 16px;
    color: #666666;
    margin-top: 5px;
}